.green { color: green }
.red { color: red }

.all-ethoses, .all-governments {
  height: 430px;
  position: relative;
}

.all-ethoses ul, .all-governments ul {
  list-style-type: none;
}

.all-ethoses .ethos {
  position: absolute;
  width: 5em
}

.selected {
  color: blue;
  font-weight: bold;
}
.all-governments .government {
  /*color: red;*/
  /*color: green;*/
}
.all-governments .government.unavailable {
  color: lightgrey;
}


.selected-ethoses, .selected-governments {
  font-size: 0.95em;
  height: 430px;
  overflow: scroll;
  padding-top: 40px;
}

 .selected-traits {
   font-size: 0.95em;
   padding-top: 40px;   
 }

.hovered {
  font-style: italic;
  opacity: 1;
}
.notselected.hovered {
  opacity: 0.5;
}
