.green { color: green }
.red { color: red }

.all-ethoses, .all-governments {
  height: 430px;
  position: relative;
}

.all-ethoses ul, .all-governments ul {
  list-style-type: none;
}

.all-ethoses .ethos {
  position: absolute;
  width: 5em
}

.selected {
  color: blue;
  font-weight: bold;
}
.government-form {
  text-align: center;
  cursor: help;
}
.all-governments ul {
  padding: 0;
}
.all-governments .government {
  height: 90px;
  font-size: 13px;
  text-align: center;
}
.all-governments .government img {
  /*margin-left: 25%;*/
  height: 50px;
  border: 2px dashed rgba(0, 0, 0, 0);
}
.all-governments .government.selected img {
  border-radius: 100%;
  border-color: blue;
}
.all-governments .government.unavailable {
  color: lightgrey;
}

.all-ethoses .ethos,
.all-governments .government,
.all-traits .trait {
  cursor: pointer;
}

.selected-ethoses, .selected-governments, .hovered-government-form {
  font-size: 0.95em;
  height: 430px;
  overflow: scroll;
  padding-top: 40px;
}

 .selected-traits {
   font-size: 0.95em;
   padding-top: 40px;
 }

.hovered {
  font-style: italic;
  opacity: 1;
}
.notselected.hovered {
  opacity: 0.5;
}
